/*impostazioni generali*/

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container{
    background-color: rgba(128, 128, 128, 0.213);
    height: 1920px;
    width: 1080px;
}

/*impostazioni header*/

header{
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 5px;
    margin: auto;
    background-color: white;
}

h1{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0px;
    position: absolute;
}

header > img{
    margin-top: 10px;
    margin-left: 20px;
}


