/*impostazioni generali*/

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color: rgba(219, 217, 217, 0.411);
    width: 1080px;
}

/*impostazioni header e logo*/

header{
    padding: 20px 10px;
    background-color: white;
}

.logo-text{
    font-size: 35px;
    font-weight: 700;
    vertical-align: middle;
}

header > img{
    vertical-align: middle;
    height: 100%;
}

/*impostazioni contenitore lista e nav*/

.container-list{
    width: 70%;
    height: 900px;
    background-color: white;
    margin-top: 40px;
}

nav{
    background-color: white;
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.213);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

main.container-list{
    border-top: 1px solid white;
    border-radius: 7px;
}

/*impostazioni bottoni nav*/

input.task{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid;
    border-radius: 7px;
    color: white;
    background-color: rgb(25,181,253);
    margin-top: 9px;
    margin-left: 50px;
}

input.section{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid;
    border-radius: 7px;
    color: rgba(128, 128, 128, 0.523);
    background-color: white;
    margin-top: 9px;
}

/*impostazioni liste*/

.container-list2{
    padding: 20px 50px;
}

ul{
    font-weight: 600;
    list-style-type: none;
    font-size: 14px;
}

li{
    padding: 10px 0px;
}

/*impostazioni task*/

.task-title{
    font-size: 18px;
}

.task-check{
    border: 2px solid green;
    border-radius: 50%;
    padding: 1px 4px;
    color: green;
    font-size: 12px;
    margin-right: 10px;
}

.task-cross{
    border: 2px solid red;
    border-radius: 50%;
    padding: 1px 4px;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

/*impostazioni tag genere*/

.tag-editorial, .tag-q1goals, .tag-recruiting, .tag-mobile, .tag-website, .tag-sales{
    font-size: 10px;
    color: white;
    padding: 3px 7px;
    border-radius: 7px;
    margin-left: 10px;
}

.tag-editorial{
    background-color: rgb(25,181,253);
}

.tag-q1goals{
    background-color: rgb(145, 73, 172);
}

.tag-recruiting{
    background-color: rgb(43, 159, 125);
}

.tag-mobile{
    background-color: rgb(254, 164, 47);
}

.tag-website{
    background-color: rgb(218, 87, 105);
}

.tag-sales{
    background-color: rgb(151, 197, 82);
}

